<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sri Sushma Chowdary Website</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <script src="https://use.fontawesome.com/0a38ab8407.js"></script>
    
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/responsive.css">
    
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


</head>

<header class="navbar navbar-inverse">
        <div class="container-header">
            <nav class="navbar">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar">Home</span>
                            
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="{{ url_for('hello') }}" style="
                                color: yellow;
                                font-size: x-large;
                                padding-top: 38px;">Home<span class="sr-only">(current)</span></a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="navbar-brand" style="color: yellow; margin-top: 10px;">Sri Sushma Chowdary</li>
                             <br></br>
                            <li class="navbar-brand" style="color: yellow;margin-top: -10px; margin-bottom: -10px">50300094</li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div>
            </nav>
        </div>
    </header>

    <body>

        <div id="job" class="row mobmid">
                <div class="col-sm-11" style="padding-left:30px; color:blue">
                    <h2>PROJECTS</h2>

                    <div class="award">
                        <p class="sub"><h2 style="color : orange;">Parking Lot Management </h2></p>
                        <ul>
                            <li>Parking lot management system is used to build an application program which helps people to park their vehicles by showing available parking slots. They can find the parking slot easily by using parking lot management application. This application is user friendly and we can book the vacant slot from the current place/location using our application.</li>
                            <li>The main aim of the parking lot control device is to lessen the losing of time whilst searching out the vacant spots. And it's easy for the management also because everything can be online,they don’t need extra manpower and they are able to have records of the purchaser who's parking in their premises.</li>
                        </ul>
                    </div>

                    <div class="award">
                        <p class="sub"><h3 style="color : orange;">Real Time Operating System</h2></p>
                        <ul>
                            <li><p>What is RTOS?</p></li>
                            <p>A real-time Operating system is "a program that schedules execution in a timely manner." They manage and monitor system resources and provide consistency for developing application programs. Applications of an RTOS range from a simple application for digital stopwatches to the navigating system of aircraft which is more complicated. Unlike GPOSes, RTOSes can be applied in not only complex but also simple environments, which means scalability is a key factor of a good RTOS. An RTOS copes with the software by providing minimal logic, scheduling, and resource-management algorithms in their kernel. Especially, every RTOS has their kernel and can be combined with a variety of modules, such as a file system, networking protocol stacks, and required functions for a particular environment.</p>
                        </ul>
                    </div>
                </div>
                    
                </div>
            </div>
        </div>

    </body>
</html>